<!-- Default form login -->

<form class="text-center border border-light p-5" action="#!">
<div [hidden]="submitted"  class="form-group">
    <p class="h4 mb-4">Forgot Password?</p>

            <div class="row justify-content-center align-items-center">
                <!-- Email -->
                <input type="text"  class="form-control  col-sm-4 col mb-4" id="username" name="username" [(ngModel)]="studentRegistration.username" placeholder="Email address">
          </div>
        
   
        <!-- Sign in button -->
        <div class="row justify-content-center align-items-center">
            <button class="btn btn-outline-success col-sm-4 my-4" type="submit" value="submit" (click)='sendResetpasswordEmail()'>Submit</button>
        </div>

</div>  
</form>

<!-- Default form login -->
