<br>
<html>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
.fa {
      padding: 15px;
      font-size: 15px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
      
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
       
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }   
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" style="width: 500px;">
                    <div class="col-sm">
                        <form>
                            <h2>Drop us a mail</h2><br>
                            <label>Name</label><br>
                             <input type="text"  placeholder="Name" style="width: 300px;"><br>
                             <br>
                             <label>Email</label><br>
                             <input type="email"  placeholder="email" style="width: 300px;"><br><br>
                             <label>Subject</label><br>
                             <input type="text"  placeholder="subject" style="width: 300px;"><br><br>
                             <textarea name="container" style="width: 400px; height: 200px;"></textarea>
                             <br> <br>
                            <button type="submit" style="width: 120px; height: 40px; background-color: royalblue; color: whitesmoke;">Send</button>
                        </form>                         
                    </div>
                </div>  <br>     
                <div class="col-sm" style="background-color: slategray; width: 290px; height: 720px;">
                    <div style="color: white;"><br><br>
                        <h2>Our Office</h2><br>
                           <p>88 Bowker Street<br> Whittlesea<br>5360</p>
                           <p>Tel: 0834876291 <br> Email : Email : Services@iminqweno.co.za</p>
                     </div>
               </div>
            </div>     
        </div>
        <div style="background-color: royalblue; height: 300px;">
            <div class="container">
                <div class="row">
                  <div class="col-sm" style="color: whitesmoke;">
                    <h2>Physical Address</h2><br>
                    <p>88 Bowker Street<br>Whittlesea<br>5360</p>           
                  </div>
                  <div class="col-sm" style="color: whitesmoke;">
                    <h2>Find Us</h2>
                    <p>There are multiple ways to reach out to us.<br> We are available on the following social networks</p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                  </div>
                </div>
            </div>
        </div> 
    </body>
</html>


