<br><br>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<bod>
  <div class="jumbotron" style="background-color: slategray; height: 600px;">
    <div>
      <img src="assets/img/logo.jpeg" style="float: right; width: 600px; height: 500px;">
      <h2 style="text-align: center; color: whitesmoke; font-weight: 500;"><br><br><br>About Us<br><br> Imninqweno is a level-1 BBEEE contributor, <br>we facilitate your works while you relax by managing all your labour related workings </h2>
    </div>
  </div><br>
  <div style="text-align: center;">
    <h2>Meet The Team</h2>
  </div>
  <div class="jumbotron">
    <div class="card-columns">
      <div class=" card text-center w3-container"  style="width: 22rem;">
        <div class="card-body w3-card-4">
          <img src="assets/img/Mkhuseli.jpeg" style="width: 150px; height: 200px; border-radius: 50%;">
          <h2>Mkhuseli Tyhobeka</h2>
          <p>Managing Director</p>
        </div>
      </div><br>
      <div class="card text-center" style="width: 22rem;">
        <div class="card-body" >
          <img src="assets/img/Sakhi.jpeg" style="width: 180px; height: 200px; border-radius: 50%;">
          <h2>Sakhumzi Toto</h2>
          <p>Operations Manager </p><br>

        </div>
      </div>

      <div class="card text-center" style="width: 22rem;">
        <div class="card-body">
          <img src="assets/img/firstClient.jpeg" style="width: 150px; height: 200px; border-radius: 50%;">
          <h2>Lwazi Xashimba</h2>

          <p>Chief Executive Officer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class=" container card"  style="width: 23rem; height: 500px; ">
        <div class="card-body" style="text-align: center">
          <h2>Iminqweno Yethu Services</h2>
          <p>Iminqweno Yethu has mandated itself to bring you quality and professional services that cater to all your housing and business needs.<br>Our database has a wide variety of contractors and service providers that clients can choose from to enable them to make their housing and business dreams a reality<br>Our contractors are highly efficient in all the work they provide<br>Our company prides itself on offering  guaranteed  warranties in all our services to  ensure great  service  validation.</p>
        </div>
      </div>

      <div  class="container card" style="width: 30rem; height: 500px;">
        <div class="card-body" style="text-align: center">

          <h2>Our Vission</h2>
          <p>Our Vision is to become a One-Stop-Shop for building, housing needs, and job recruitment opportunities.
            Our projects will help bridge the wide gap of unemployment by creating economic opportunities in our communities and uplifting SMMEs
          </p>
          <h2>Our Mission</h2>
          <p><br>Our  mission  is  to  offer  our  clients  exceptional  work  that  caters  to  all  their business and home needs.<br>
            We facilitate your journey from start to completion, <br> giving you the perfect house while also fulfilling your business requirements.</p><br>
        </div>
      </div>
      <div>
      </div>

    </div>
   <br> <br>

  </div>
  <div style="text-align: center;">
    <h2>We believe in </h2>
  </div><br>
  <div class="jumbotron"
       style="margin: 0 auto; height: 400px; background-color: white;">
    <p><img src="assets/img/LwaziPresentation.jpg" style="width: 700px; height: 300px; margin-right: 25px;float: left;"><b>Building Relationships </b><br>We believe in doing things the right way. We don't believe in cutting corners.
      <br>We focus on collabarting with the best people for our bussiness<br><br><a class="btn btn-primary btn-rounded"  [routerLink]="['/our-services']" role="button">Explore  Our Services &raquo;</a></p>


  </div>

  <div style="background-color: lightgrey; text-align: center; height: 600px;">
    <br><br>
    <h2>Our Ethics, Gorvenance and Compliance</h2><br><br>
    <p><img src="assets/img/ethics.png" style="width: 700px; height: 300px; margin-right: 25px;float: right;">We are anti bribery and corruption. We acknowledge our responsibility to be ethical in our business practices and not engage in any activities that harm society, including unlawful activities.

      This Ethics and Corporate Governance policy tells you how we stand against all forms of bribery, corruption, unethical or unlawful conduct, or any other business activities that violate the values or spirit of human rights and good governance.</p>
  </div>
  <div style="background-color: royalblue; height: 300px;">
    <div class="container">
      <div class="row">
        <div class="col-sm" style="color: whitesmoke; font-weight: lighter;">
          <h2>Physical Address</h2><br>
          <p>88 Bowker Street<br>Whittlesea<br>5360</p>
        </div>
        <div class="col-sm" style="color: whitesmoke; font-weight: lighter;">
          <h2>Find Us</h2>
          <p>There are multiple ways to reach out to us.<br> We are available on the following social networks</p>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</bod>

</html>




