<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <header>
    <div class="head" style="color: white; text-overflow: initial;"><br>
      <b>Latest Covid-19 News - <a href = 'https://sacoronavirus.co.za/'style="color: white;" >sacoronavirus.co.za</a></b>
    </div>
  </header>
   <body>
     <br><br><br>
    <nav class="navbar navbar-expand-md navbar-custom bg-grey" style="position: initial;"><br><br>
      <div class="container-fluid">
        <div class="navbar-header">
          <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="#navbarNav"
               aria-expanded="false"
               aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar navbar-default navbar-fixed-top" id="navbarCustom" >
        <ul class="navbar-nav">
          <li class=" navbar-custom nav-item active">
             <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/about']" class="nav-link"  >About us</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/our-services']" class="nav-link" >Services</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/careers']" class="nav-link">Careers</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/contact-us']" class="nav-link">Contact us</a>
          </li>

        </ul>
        </div>
      </div>
    </nav>
    <br><br><br>
   </body>
  <footer class="bg-light text-center text-lg-start" >
    <div class="container p-4">
      <div class="row" >
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="color: white">
          <h2>Physical Address</h2><br>
          <p>88 Bowker Street<br>Whittlesea<br>5360</p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="color: white">
          <h2>Find Us</h2>
          <p>There are multiple ways to reach out to us.<br> We are available on the following social networks</p>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: #55ACEE">
      © 2020 Copyright: Iminqweno Yethu Services
    </div>
  </footer>
  <div >
    <router-outlet></router-outlet>
  </div>
</html>
