<form class="text-center border border-light p-5" action="#!">
   
    <div class="jumbotron">
        <div class="container">
          <h3 class="display-3">Registration Confirmed!</h3>
          <p>You are now a member , to continue please click 
                    on the link to login with your credentials</p>
        </div>
      </div>
    <div class="row justify-content-center col-md-4">
        <p><a class="btn btn-secondary " [routerLink]="['/login']" role="link">login &raquo;</a></p>
      </div>
</form>
