<!doctype html>
<html>
  <title>Imninqweno Yethu Services</title>
  <head>
  </head>
  <body>
    <div>
       <div class="jumbotron" style="background-color: slategray; height: 600px;">
          <div class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/construction.jpg" style="float: right; width: 600px; height: 500px;">
                <h2 style="text-align: center; color: whitesmoke; font-weight: 600;">Construsction Services<br><br>We offer proffetional construction services through our profesional partners<br> to ensure your work is done seamlessly</h2>
              </div>
              <div class="carousel-item">
                <img src="assets/img/paintingHouse.jpg" style="float: right; width: 600px; height: 500px;">
                <h2 style="text-align: center; color: whitesmoke; font-weight: 600;">Painting Services<br><br><br>We offer proffetional painting services through our proffesional partners<br> to ensure your work is done seamlessly</h2>
              </div>
              <div class="carousel-item">
                <img src="assets/img/cleaning.jpg" style="float: right; width: 600px; height: 500px;">
                <h2 style="text-align: center; color: whitesmoke; font-weight: 600;">Cleaning Services<br><br><br>We offer proffetional cleaning services through our proffesional partners<br> to ensure your work is done seamlessly</h2>
              </div>
          </div>
      </div>
    </div><br>
    </div>
  </body>
</html>
